<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Score</th>
      <% if current_user %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.user.email %></td>
        <td><%= candidate.score %></td>
        <% if current_user %>
          <td><%= link_to_vote(candidate.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
